---
layout: default
---
<section class="sec">
  <div class="sec-head">
    <h2 class="sec-title">{{ page.title }}</h2>
    <span class="sec-count">{{ page.posts | size }}</span>
  </div>

  <ul class="posts">
    {% for post in page.posts %}
    <li class="post-item">
      <div class="post-when">{{ post.date | date: "%Y.%m.%d" }}</div>
      <div>
        <h3 class="post-item-title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </div>
    </li>
    {% endfor %}
  </ul>

  <p class="sec-more"><a href="{{ "/blog/" | prepend: site.baseurl }}">&larr; All posts</a></p>
</section>
